.flex-row {
    display: flex;
    flex-direction: row;

    .auto-width{
        flex-grow: 1;
    }
}

.flex-column {
    display: flex;
    flex-direction: column;

    .auto-height{
        flex-grow: 1;
    }
}